<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') 
                img(src="/images/logo.png", width="100", height = "25")
            #navbarText.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/login') Login
                    li.nav-item
                        a.nav-link(href='/products') Product
            if user
                p.text-secondary #{user.name}
        block content